<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       profile="dubbo"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
    <dubbo:application name="b-receipt-module"/>
    <dubbo:registry protocol="zookeeper" address="#{environment['dubbo.registry.addr']}"/>

    <dubbo:protocol name="dubbo" port="#{environment['dubbo.port']}" server="netty"/>


    <dubbo:consumer check="false" filter="traceIdConsumer,default" timeout="30000" retries="0"/>
    <dubbo:provider filter="traceIdProvider,default"/>

    <dubbo:annotation package="com.fangdd"></dubbo:annotation>

    <!-- provider -->
    <dubbo:service id="receiptTicketService" interface="com.fangdd.tp.service.dubbo.UserDubboService" ref="userDubboServiceImpl" />
</beans>
